<div class="event-planning">
    <h6 data-aos="fade-up" data-aos-duration="500">Planning your event couldn’t be easier and here’s how:</h6>
    <ul class="custom-ul">
        <li data-aos="fade-up" data-aos-duration="500"><strong>Durable Frame</strong> - keep things light but reliable</li>
        <li data-aos="fade-up" data-aos-duration="500"><strong>Premium Graphic Print</strong> - scratch resistant material</li>
        <li data-aos="fade-up" data-aos-duration="500"><strong>Quick Set-Up</strong> - just under 10 minutes!</li>
        <li data-aos="fade-up" data-aos-duration="500"><strong>Compact Package</strong> - easy transport any event</li>
    </ul>
</div>
