<h2 class="page-heading page-heading--small" id="description" data-aos="fade-up" data-aos-duration="500">We’ve got your <span>back</span>, let your worries <span>drop</span>.</h2>
<div class="heighlights" data-aos="fade-up" data-aos-duration="500">
    <div class="heighlights__item warranty">
        <h4><svg><use href="#icon-warranty"></use></svg>Life Time Warranty</h4>
        <p>Infinite Protection & Timeless Support<br> We’ve Got Your Back for Life</p>
    </div>
    <div class="heighlights__item lightweight">
        <h4><svg><use href="#icon-lightweight"></use></svg>Lightweight Design</h4>
        <p>The Perfect Balance - Lightweight Design, Unyielding Durability</p>
    </div>
</div>
