<ul class="productGrid" data-aos="fade-up" data-aos-duration="500">
   <li class="product product-upload first-cat-bg" data-aos="fade-up" data-aos-duration="500">
        <article class="card">
            <figure class="card-figure">
                <a href="/custom-8ft-backdrop-client-upload/" class="card-figure__link">
                    <div class="card-img-container">                        
                        <img class="card-image" src="/images/stencil/original/image-manager/category-upload.png?t=1690970" width="170"
                            height="170">
                    </div>
                </a>
            </figure>
            <div class="card-body">
                <div class="card-button-block">
                    <a href="/custom-8ft-backdrop-client-upload/" data-event-type="product-click"
                        class="button button-white-secondary button--small button-custom">Upload Your Own Design</a>
                </div>
            </div>
        </article>
    </li>
    <li class="product product-upload second-cat-bg" data-aos="fade-up" data-aos-duration="500">
        <article class="card">
            <figure class="card-figure">
                <a href="/custom-8ft-backdrop-client-design/" class="card-figure__link">
                    <div class="card-img-container">
                        <img class="card-image" src="/images/stencil/original/image-manager/category-designing.png?t=16" width="170"
                            height="170">
                    </div>
                </a>
            </figure>
            <div class="card-body">
                <div class="card-button-block">
                    <a href="/custom-8ft-backdrop-client-design/" data-event-type="product-click"
                        class="button button-custom-dark button--small button-custom">Start Designing</a>
                </div>
            </div>
        </article>
    </li>
    {{#each products}}
    <li class="product" data-aos="fade-up" data-aos-duration="5000">
        {{>components/dh-custom/products/card settings=../settings show_compare=../show_compare
        show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event
        position=(add @index 1)}}
    </li>
    {{/each}}
</ul>
