<div class="productView-features">
    <div class="feature-block" data-aos="fade-up" data-aos-duration="500">
        <div class="img-block">
            <img src="/images/stencil/original/image-manager/pdp-feature1.jpg" alt="Portability Matters" width="295" height="295" />
        </div>
        <div class="content-block">
            <h4>Portability Matters</h4>
            <p>Your entire 8ft backdrop will fit into one compact box equipped with a built-in handle, making it easy to get to and from any event.</p>
        </div>
    </div>
    <div class="feature-block" data-aos="fade-up" data-aos-duration="500">
        <div class="img-block">
            <img src="/images/stencil/original/image-manager/pdp-feature2.jpg" alt="Built to Impress" width="295" height="295" />
        </div>
        <div class="content-block" data-aos="fade-up" data-aos-duration="500">
            <h4>Built to Impress</h4>
            <p>Sturdy frames, crafted from aircraft-grade aluminum, that can be repurposed time and time again. If your frame fails, we’ll replace it, no questions asked. </p>
        </div>
    </div>
    <div class="feature-block" data-aos="fade-up" data-aos-duration="500">
        <div class="img-block">
            <img src="/images/stencil/original/image-manager/pdp-feature3.jpg" alt="Vivid Prints" width="295" height="295" />
        </div>
        <div class="content-block">
            <h4>Vivid Prints</h4>
            <p>We hold our prints to the highest regard, using printing materials originally developed for large commercial enterprises and trade shows. </p>
        </div>
    </div>
    <div class="feature-block" data-aos="fade-up" data-aos-duration="500">
        <div class="img-block">
            <img src="/images/stencil/original/image-manager/pdp-feature4.jpg" alt="Thoughtful Packaging" width="295" height="295" />
        </div>
        <div class="content-block">
            <h4>Thoughtful Packaging</h4>
            <p>We’ve removed all unnecessary plastic from our packaging so that you can enjoy your unboxing, knowing everything can be reused or recycled after your event.</p>
        </div>
    </div>
</div>
