<div class="productView-usp">
    <!--<h2 class="page-heading page-heading--small" data-aos="fade-up" data-aos-duration="500">Let your worries <span>drop</span></h2>-->
    <div class="usps" data-aos="fade-up" data-aos-duration="500">
        <div class="usp-item">
            <span class="icon icon-fast-shipping"><svg><use href="#icon-fast-shipping"></use></svg></span>
            <span class="usp-title">Fast<br>Shipping</span>
        </div>
        <div class="usp-item">
            <span class="icon icon-quick-setup"><svg><use href="#icon-quick-setup"></use></svg></span>
            <span class="usp-title">Quick<br>Set-up</span>
        </div>
        <div class="usp-item">
            <span class="icon icon-eco-conscious"><svg><use href="#icon-eco-conscious"></use></svg></span>
            <span class="usp-title">Eco<br>Conscious</span>
        </div>

    </div>
</div>
