<section class="videoGallery" data-video-gallery data-aos="fade-up" data-aos-duration="500">
    <div class="videoGallery-main">
        <iframe
            id="player"
            class="lazyload"
            type="text/html"
            width="640"
            height="390"
            frameborder="0"
            webkitAllowFullScreen
            mozallowfullscreen
            allowFullScreen
            data-src="//www.youtube.com/embed/{{this.featured.id}}?rel=0"
            data-video-player>
        </iframe>
    </div>
    </div>

</section>
