/* ========== BLOG LISTING STYLE ========== */
.blog-post-figure {
    width: 100%;
}


.blog-grid-style {
    @include display-flex(flex);
    margin: 0 -3.5rem;
    @include flex-wrap(wrap);
}

.template-blog {

    .page {
       @include tablet-small {
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }

    .blog {
        &-item {
            margin-bottom: 7rem;
    
            @include tablet-small {
                margin-bottom: 4.5rem;
            }
            &:nth-child(3n-2) {
                .blog-post-figure {
                    position: relative;
    
                    &::after {
                        content: "";
                        @extend .object-dots;
                        top: 0;
                        left: 4rem;
                    }
                }
    
            }
    
            &:nth-child(3n + 2) {
                .blog-post-figure {
                    position: relative;
    
                    &::after {
                        content: "";
                        @extend .object-cancel;
                        width: 2.5rem;
                        height: 2.5rem;
                        right: 12.7rem;
                        margin: 0 auto;
                        bottom: 0rem;
                    }
                }
            }
    
            &:nth-child(3n + 3) {
                .blog-post-figure {
                    position: relative;
    
                    &::after {
                        content: "";
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='35' viewBox='0 0 34 35' fill='none'%3E%3Cg clip-path='url(%23clip0_322_433)'%3E%3Cpath d='M32.3119 19.2354H1.68814C1.24042 19.2354 0.811033 19.0523 0.494445 18.7264C0.177857 18.4005 0 17.9584 0 17.4976C0 17.0367 0.177857 16.5947 0.494445 16.2688C0.811033 15.9429 1.24042 15.7598 1.68814 15.7598H32.3119C32.5336 15.7598 32.7531 15.8047 32.9579 15.892C33.1627 15.9794 33.3488 16.1074 33.5056 16.2688C33.6623 16.4301 33.7867 16.6217 33.8715 16.8325C33.9563 17.0434 34 17.2693 34 17.4976C34 17.7258 33.9563 17.9517 33.8715 18.1626C33.7867 18.3734 33.6623 18.565 33.5056 18.7264C33.3488 18.8877 33.1627 19.0157 32.9579 19.1031C32.7531 19.1904 32.5336 19.2354 32.3119 19.2354Z' fill='%23B48A33'/%3E%3Cpath d='M16.9967 35C16.5494 34.9987 16.1207 34.8152 15.8044 34.4896C15.4881 34.164 15.3098 33.7227 15.3086 33.2622V1.73779C15.3086 1.2769 15.4865 0.834887 15.803 0.508988C16.1196 0.183088 16.549 0 16.9967 0C17.4445 0 17.8738 0.183088 18.1904 0.508988C18.507 0.834887 18.6849 1.2769 18.6849 1.73779V33.2622C18.6849 33.7231 18.507 34.1651 18.1904 34.491C17.8738 34.8169 17.4445 35 16.9967 35Z' fill='%23B48A33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_433'%3E%3Crect width='34' height='35' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        width: 3.5rem;
                        height: 3.5rem;
                        background-size: 100% auto;
                        background-repeat: no-repeat;
                        position: absolute;
                        z-index: 5;
                        left: 10.2rem;
                        top: 0;
                    }
    
                    &::before {
                        content: "";
                        @extend .object-fill-circle;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cg clip-path='url(%23clip0_322_438)'%3E%3Cpath d='M7.99671 16.993C12.4132 16.993 15.9934 13.189 15.9934 8.49651C15.9934 3.80402 12.4132 0 7.99671 0C3.58025 0 0 3.80402 0 8.49651C0 13.189 3.58025 16.993 7.99671 16.993Z' fill='%23E99B8B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_438'%3E%3Crect width='16' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                        width: 1.7rem;
                        height: 1.8rem;
                        left: auto;
                        bottom: 0;
                        right: 5.4rem;
                        // bottom: 0;
                    }
                }
            }
    
        }
        
    }
}

/* ========== BLOG GRID STYLE ========== */

/* ========== BLOG DETAIL STYLE ========== */
.page_type__blog {
    .page {
        margin: 0;

        .pagination-list {
            margin-bottom: 0;
            margin-top: 3rem;
        }
    }
}

.template-blog_post {
    .blog-thumbnail {
        width: 100%;
        max-width: 100%;

        a {
            width: 100%;
        }

        img {
            //height: 50rem;
            object-fit: cover;
            aspect-ratio: 312/241;

            @include tablet-small {
                //height: 40rem;
            }

            @include mobile {
                //height: 30rem;
            }
        }
    }

    .blog-post {
        p {
            margin-bottom: 1.7rem;
        }
    }

    h1 {
        font-weight: 600;
    }

    .blog-post-body {
        width: 100%;

        h2,
        h3,
        h4,
        h5 {
            font-weight: 400;

            +p {
                margin-top: 0.8rem;
            }
        }

        .blog-title {
            margin: 0 0 1.5rem;
        }
    }

    .blog-date {
        margin-bottom: 3rem;

    }
    .blog-date, .blog-author{
        color: $color-primary;
    }

    .blog-thumbnail a {
        width: 100%;
    }

    .body {
        .socialLinks {
            @include display-flex(flex);
            @include justify-content(center);

            &::after,
            &::before {
                display: none;
            }

            column-gap: 1rem;

            &-item {
                margin: 0;

                .icon {
                    width: 4.2rem;
                    height: 4.2rem;
                    border: 1px solid rgba($color-primary, 0.1);
                    @include border-radius(50%);

                    svg {
                        fill: $color-primary;
                    }

                    &:hover {
                        border-color: $color-secondary;
                        @extend .bg-secondary;

                        svg {
                            fill: $color-white;
                        }
                    }
                }

            }

            &-item--email,
            &-item--print {
                svg {
                    width: 1.4rem;
                }
            }
        }

    }
}

.blog {
    .tags {
        margin: 0;
        @include tablet-small{
            margin-bottom: 3rem;
        }
        .tag {
            margin: 0 1rem;
            &:first-child{
                @include tablet-up{
                    margin-left: 0;
                }
            }
            @include tablet-small {
                margin: 0 0.7rem;
            }

            @include mobile {
                margin: 0 0.6rem;
                margin-top: 1rem;

                &:nth-child(1) {
                    margin-top: 0;
                }

                &:nth-child(2) {
                    margin-top: 0;
                }

                &:nth-child(3) {
                    margin-top: 0;
                }
            }

            @media screen and (max-width: 400px) {

                &:nth-child(4) {
                    margin-top: 1.1rem;
                }

            }

            .button {
                height: auto;
                @include border-radius(100px);
                outline: none;
                margin: 0;
                padding: 1.6rem 4rem;
                font-size: 1.4rem;
                font-weight: 600;
                color: $color-white;
                line-height: normal;

                @include tablet-small {
                    font-size: 1.1rem;
                }
            }
        }
    }
}
.blog-detail{
    .blog{
        &-title{
            @extend .page-heading;
        }
    }
    .blog-tag-share{
       @include tablet-up{
        @include display-flex(flex);
        @include justify-content(space-between);
        @include align-item(center);
       }
    }
}
/* ========== BLOG DETAIL STYLE ========== */
