/*===== Variables =====*/
$color-secondaryLight: #F2EBE4;
$color-secondaryLighter: #FBF5F4;
$color-thirdLighter: #FBF6F5;
$color-borderdarker: #323652;
$color-greenLight: #B8E0CF;
$color-greyLight: #D4D5DB;
$font-Gellatio: 'Gellatio';

.page {
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    line-height: 1.5;
    font-size: 1.6rem;

    @include tablet-small {
        font-size: 1.3rem;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0;
    padding: 0;
    color: $color-primary;
    letter-spacing: 0;
}

h1,
.h1 {
    font-size: $fontSize-largest;
}

h2,
.h2 {
    font-size: $fontSize-larger;
    @include tablet-small{
        font-size: 2.4rem;
    }
}

h3,
.h3 {
    font-size: $fontSize-large;
}

h4,
.h4 {
    font-size: $fontSize-small;
}

h5,
.h5 {
    font-size: $fontSize-smaller;
}

h6,
.h6 {
    font-size: $fontSize-smallest;
}

a {
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 1.5rem;
    color: $color-primary;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

address {
    font-style: normal;
}
:focus-visible {
    outline: 0;
}
ul.custom-ul {
    margin-left: 1.3rem;
    list-style: none;

    li {
        position: relative;
        margin-bottom: 1.5rem;
        @extend .fs-13;

        &::after {
            content: "";
            position: absolute;
            width: .3rem;
            height: .3rem;
            border-radius: 50%;
            @extend .bg-secondary;
            left: -1.3rem;
            top: .8rem
        }
        strong{
            font-weight: 600;
        }
    }
}

/* ========== COMMON CLASS ========== */

/*--- Font-Sizes ---*/

.fs-12 {
    font-size: 1.2rem;
}

.fs-13 {
    font-size: 1.3rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;

    @include mobile {
        font-size: 1.6rem;
    }
}

.fs-20 {
    font-size: 2rem;
}

.fs-24 {
    font-size: 2.4rem;

    @include tablet {
        font-size: 1.8rem;
    }
}

.fs-30 {
    font-size: 3rem;
}

.fs-36 {
    font-size: 3.6rem;

    @include tablet {
        font-size: 2.4rem;
    }

    @include mobile {
        font-size: 2rem;
    }
}

.fs-42 {
    font-size: 4.2rem;
}

.fs-48 {
    font-size: 4.8rem;
}

.fs-60 {
    font-size: 6rem;
}

.font-secondory {
    font-family: $font-Gellatio;
}

/*--- Spacings ---*/
.mt-0{
    margin-top: 0 !important;
}
.mt-40 {
    margin-top: 4rem;
}

.mb-40 {
    margin-bottom: 4rem;
}

.mt-60 {
    margin-top: 6rem;
}

.mb-60 {
    margin-bottom: 6rem;
}

.mb-200 {
    margin-bottom: 20rem;
}

.pt-16 {
    padding-top: 1.6rem;
}

.pb-16 {
    padding-bottom: 1.6rem;
}

.pt-30 {
    padding-top: 3rem;
}

.pt-40 {
    padding-top: 4rem;

    // @include tablet-small {
    //     padding-top: 2rem;
    // }
}

.pb-40 {
    padding-bottom: 4rem;

    // @include tablet-small {
    //     padding-bottom: 2rem;
    // }
}

.pt-60 {
    padding-top: 6rem;

    // @include tablet-small {
    //     padding-top: 4rem;
    // }
}

.pb-60 {
    padding-bottom: 6rem;

    // @include tablet-small {
    //     padding-bottom: 4rem;
    // }
}

.pt-80 {
    padding-top: 8rem;

    @include tablet-small {
        padding-top: 6rem;
    }
}

.pb-80 {
    padding-bottom: 8rem;

    @include tablet-small {
        padding-bottom: 6rem;
    }
}

.pt-110 {
    padding-top: 11rem;

    @include tablet-small {
        padding-top: 6rem;
    }
}

.pb-110 {
    padding-bottom: 11rem;

    @include tablet-small {
        padding-bottom: 6rem;
    }
}

.pt-150 {
    padding-top: 15rem;
}

.pb-150 {
    padding-bottom: 15rem;
}

.page-heading {
    @extend .fs-36;
    color: $color-primary;
    text-transform: none;
    line-height: 1.5;
    font-weight: 600;

    span {
        @extend .font-secondory;
        @extend .color-secondary;
        font-size: 0.8888888888888888em;
        line-height: normal;
        font-weight: 400;
        vertical-align: middle;
    }
    & + p{
        font-size: 1.6rem;
        @include tablet-small{
            font-size: 1.4rem;
        }
    }

    &--small {
        font-size: 2.4rem;
        margin-bottom: 2rem;
        @include mobile{
            font-size: 1.8rem;
        }
        span {
            font-size: 0.8333333333333334em;
        }
    }

    &--large {
        @extend .fs-60;

        span {
            font-size: 0.8666666666666667em;
        }

        @include tablet-small {
            font-size: 3.6rem;
        }

        @include mobile {
            font-size: 2.8rem;
        }
    }
}

.d-flex {
    @include display-flex(flex);
}

.align-v-center {
    @include align-item(center);
}

.align-start {
    @include align-item(flex-start);
}

.align-end {
    @include align-item(flex-end);
}

.align-self-start {
    @include align-self(flex-start);
}

.justify-center {
    @include justify-content(center);
}

.justify-right {
    @include justify-content(flex-end);
}

.justify-space {
    @include justify-content(space-between);
}

.flex-wrap {
    @include flex-wrap(wrap);
}

.flex-direction {
    @include flex-direction(column);
}

.clearfix,
.clearfix {

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.padding-none {
    padding: 0 !important;
}

.margin-none {
    margin: 0 !important;
}

.link {
    @extend a;
    text-decoration: underline;
}



/*--- Colors & Objects ---*/

.color-secondary {
    color: $color-secondary;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-secondary {
    background-color: $color-secondary;
}

.bg-secondary-light {
    background-color: $color-secondaryLight;
}

.bg-light-green {
    background-color: $color-greenLight;
}

/*-- Objects --*/
.wave {
    @include transform(translateY(-100%));
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    z-index: 1;
}

.object-halfRoundedBorders,
.object-halfRoundedBordersRight {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="124" height="123" viewBox="0 0 124 123" fill="none"><g clip-path="url(%23clip0_322_369)"><path d="M87.5323 57.2776L85.6272 59.1674C83.9214 57.4754 81.8963 56.1332 79.6676 55.2174C77.4388 54.3017 75.0501 53.8304 72.6378 53.8304C70.2254 53.8304 67.8367 54.3017 65.608 55.2174C63.3792 56.1332 61.3542 57.4754 59.6484 59.1674C56.2034 62.5846 54.268 67.2194 54.268 72.052C54.268 76.8847 56.2034 81.5195 59.6484 84.9367L57.7433 86.8264C55.6627 84.9165 53.9922 82.6096 52.8318 80.044C51.6715 77.4784 51.0451 74.7069 50.9903 71.8955C50.9354 69.084 51.4533 66.2905 52.5127 63.6823C53.5722 61.0742 55.1515 58.7049 57.156 56.7166C59.1605 54.7282 61.549 53.1617 64.1784 52.1107C66.8078 51.0598 69.624 50.5462 72.4583 50.6006C75.2926 50.655 78.0866 51.2763 80.6731 52.4273C83.2595 53.5783 85.5851 55.2353 87.5106 57.2991L87.5323 57.2776Z" fill="%23B48A33"/><path d="M96.6528 48.2316L94.7477 50.1213C88.884 44.3049 80.9311 41.0373 72.6386 41.0373C64.3462 41.0373 56.3933 44.3049 50.5296 50.1213C44.6659 55.9377 41.3718 63.8264 41.3718 72.0521C41.3718 80.2777 44.6659 88.1664 50.5296 93.9828L48.6245 95.8725C42.3243 89.5408 38.8048 80.9941 38.8342 72.0977C38.8635 63.2014 42.4393 54.6777 48.7812 48.387C55.123 42.0963 63.716 38.5493 72.6847 38.5202C81.6534 38.4911 90.2696 41.9822 96.6528 48.2316Z" fill="%23B48A33"/><path d="M105.766 39.1907L103.861 41.0804C95.552 33.0005 84.364 28.5001 72.7285 28.5574C61.093 28.6147 49.9505 33.225 41.7228 41.3863C33.4952 49.5476 28.8474 60.6002 28.7897 72.1419C28.7319 83.6836 33.2689 94.7814 41.4144 103.023L39.5093 104.913C30.7231 96.1977 25.7871 84.3772 25.7871 72.0519C25.7871 59.7265 30.7231 47.906 39.5093 39.1907C48.2955 30.4753 60.2121 25.5791 72.6377 25.5791C85.0632 25.5791 96.9799 30.4753 105.766 39.1907Z" fill="%23B48A33"/><path d="M114.886 30.1447L112.976 32.0344C102.257 21.5181 87.7769 15.6379 72.7006 15.679C57.6242 15.7201 43.1772 21.6791 32.5165 32.2538C21.8559 42.8284 15.8485 57.159 15.8071 72.1137C15.7656 87.0685 21.6936 101.432 32.2954 112.064L30.3903 113.959C19.1855 102.845 12.8906 87.7703 12.8906 72.052C12.8906 56.3337 19.1855 41.2592 30.3903 30.1447C41.5952 19.0302 56.7923 12.7861 72.6383 12.7861C88.4844 12.7861 103.681 19.0302 114.886 30.1447Z" fill="%23B48A33"/><path d="M124 21.1038L122.095 22.9936C108.978 9.98252 91.1879 2.67298 72.6379 2.67298C54.0879 2.67298 36.2976 9.98252 23.1808 22.9936C10.0639 36.0046 2.69495 53.6514 2.69495 72.0518C2.69495 90.4523 10.0639 108.099 23.1808 121.11L21.2757 123C14.4851 116.319 9.09148 108.374 5.40426 99.6206C1.71705 90.8671 -0.191135 81.4774 -0.210784 71.9905C-0.230433 62.5036 1.63884 53.1063 5.28976 44.3378C8.94069 35.5693 14.3014 27.6023 21.0642 20.8941C27.827 14.1858 35.8587 8.86835 44.6985 5.24687C53.5383 1.62539 63.012 -0.228811 72.5761 -0.209321C82.1401 -0.18983 91.6061 1.70297 100.431 5.36044C109.255 9.01792 117.265 14.3681 124 21.1038Z" fill="%23B48A33"/></g><defs><clipPath id="clip0_322_369"><rect width="124" height="123" fill="white"/></clipPath></defs></svg>');
    width: 12.4rem;
    height: 12.3rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;

    @include tablet {
        width: 10rem;
        height: 10rem;
    }

    @include tablet-small {
        width: 8rem;
        height: 8rem;
    }

    @include mobile {
        width: 6rem;
        height: 6rem;
    }
}

.object-halfRoundedBordersRight {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='124' height='123' viewBox='0 0 124 123' fill='none'%3E%3Cg clip-path='url(%23clip0_322_377)'%3E%3Cpath d='M36.4677 65.7224L38.3728 63.8326C40.0786 65.5246 42.1037 66.8668 44.3324 67.7826C46.5612 68.6983 48.9499 69.1696 51.3622 69.1696C53.7746 69.1696 56.1633 68.6983 58.392 67.7826C60.6208 66.8668 62.6458 65.5246 64.3516 63.8326C67.7966 60.4154 69.732 55.7806 69.732 50.948C69.732 46.1153 67.7966 41.4805 64.3516 38.0633L66.2567 36.1736C68.3373 38.0835 70.0078 40.3904 71.1682 42.956C72.3285 45.5216 72.9549 48.2931 73.0097 51.1045C73.0646 53.916 72.5467 56.7095 71.4873 59.3177C70.4278 61.9258 68.8485 64.2951 66.844 66.2834C64.8395 68.2718 62.451 69.8383 59.8216 70.8893C57.1922 71.9402 54.376 72.4538 51.5417 72.3994C48.7074 72.345 45.9134 71.7237 43.3269 70.5727C40.7405 69.4217 38.4149 67.7647 36.4894 65.7009L36.4677 65.7224Z' fill='%23B48A33'/%3E%3Cpath d='M27.3482 74.7684L29.2533 72.8787C35.117 78.6951 43.0698 81.9627 51.3623 81.9627C59.6548 81.9627 67.6077 78.6951 73.4714 72.8787C79.335 67.0623 82.6292 59.1736 82.6292 50.9479C82.6292 42.7223 79.335 34.8336 73.4714 29.0172L75.3765 27.1275C81.6767 33.4592 85.1962 42.0059 85.1668 50.9023C85.1375 59.7986 81.5617 68.3223 75.2198 74.613C68.8779 80.9037 60.285 84.4507 51.3163 84.4798C42.3476 84.5089 33.7314 81.0178 27.3482 74.7684Z' fill='%23B48A33'/%3E%3Cpath d='M18.2339 83.8093L20.1391 81.9196C28.448 89.9995 39.636 94.4999 51.2715 94.4426C62.907 94.3853 74.0495 89.775 82.2772 81.6137C90.5048 73.4524 95.1526 62.3998 95.2103 50.8581C95.2681 39.3164 90.7311 28.2186 82.5856 19.9767L84.4907 18.0869C93.2769 26.8023 98.2129 38.6228 98.2129 50.9481C98.2129 63.2735 93.2769 75.094 84.4907 83.8093C75.7045 92.5247 63.7879 97.4209 51.3623 97.4209C38.9368 97.4209 27.0201 92.5247 18.2339 83.8093Z' fill='%23B48A33'/%3E%3Cpath d='M9.11366 92.8553L11.0242 90.9656C21.7432 101.482 36.2231 107.362 51.2994 107.321C66.3758 107.28 80.8228 101.321 91.4835 90.7462C102.144 80.1716 108.152 65.841 108.193 50.8863C108.234 35.9315 102.306 21.5684 91.7046 10.9358L93.6097 9.0407C104.815 20.1552 111.109 35.2297 111.109 50.948C111.109 66.6663 104.815 81.7408 93.6097 92.8553C82.4048 103.97 67.2077 110.214 51.3617 110.214C35.5156 110.214 20.3185 103.97 9.11366 92.8553Z' fill='%23B48A33'/%3E%3Cpath d='M-9.91821e-05 101.896L1.90501 100.006C15.0219 113.017 32.8121 120.327 51.3621 120.327C69.9121 120.327 87.7024 113.017 100.819 100.006C113.936 86.9954 121.305 69.3486 121.305 50.9482C121.305 32.5477 113.936 14.9009 100.819 1.88988L102.724 0.000137329C109.515 6.68078 114.909 14.6258 118.596 23.3794C122.283 32.1329 124.191 41.5226 124.211 51.0095C124.23 60.4964 122.361 69.8937 118.71 78.6622C115.059 87.4307 109.699 95.3977 102.936 102.106C96.173 108.814 88.1413 114.132 79.3015 117.753C70.4617 121.375 60.988 123.229 51.4239 123.209C41.8599 123.19 32.3939 121.297 23.5692 117.64C14.7445 113.982 6.73485 108.632 -9.91821e-05 101.896Z' fill='%23B48A33'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_377'%3E%3Crect width='124' height='123' fill='white' transform='matrix(-1 0 0 -1 124 123)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.object-circle {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cg clip-path='url(%23clip0_322_20)'%3E%3Cpath d='M20 40C16.0444 40 12.1776 38.827 8.88861 36.6294C5.59962 34.4318 3.03617 31.3082 1.52242 27.6537C0.00866568 23.9992 -0.387401 19.9778 0.384303 16.0982C1.15601 12.2186 3.06082 8.65492 5.85787 5.85787C8.65492 3.06082 12.2186 1.15601 16.0982 0.384303C19.9778 -0.387401 23.9992 0.00866568 27.6537 1.52242C31.3082 3.03617 34.4318 5.59962 36.6294 8.88861C38.827 12.1776 40 16.0444 40 20C39.9955 25.3029 37.8869 30.3874 34.1371 34.1371C30.3874 37.8869 25.3029 39.9955 20 40ZM20 4.61407C16.9468 4.61407 13.9621 5.51946 11.4235 7.21574C8.88479 8.91203 6.90614 11.323 5.73772 14.1438C4.5693 16.9646 4.26359 20.0686 4.85924 23.0632C5.4549 26.0577 6.92517 28.8084 9.08412 30.9674C11.2431 33.1263 13.9938 34.5966 16.9883 35.1922C19.9829 35.7879 23.0868 35.4822 25.9076 34.3138C28.7285 33.1453 31.1395 31.1667 32.8357 28.628C34.532 26.0894 35.4374 23.1047 35.4374 20.0515C35.4374 15.9572 33.811 12.0307 30.9159 9.13558C28.0208 6.24051 24.0943 4.61407 20 4.61407Z' fill='%23105E8D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_20'%3E%3Crect width='40' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 4rem;
    height: 4rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;

    @include tablet-small {
        width: 3.5rem;
        height: 3.5rem;
    }

}

.object-dots {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='116' viewBox='0 0 35 116' fill='none'%3E%3Cg clip-path='url(%23clip0_322_398)'%3E%3Cpath d='M1.00122e-05 113.544C1.00122e-05 114.031 0.146337 114.507 0.420488 114.912C0.694638 115.317 1.0843 115.633 1.54019 115.819C1.99609 116.006 2.49774 116.055 2.98172 115.96C3.4657 115.865 3.91026 115.63 4.25918 115.286C4.60811 114.941 4.84573 114.502 4.942 114.024C5.03827 113.547 4.98886 113.051 4.80002 112.601C4.61119 112.151 4.2914 111.767 3.8811 111.496C3.47081 111.226 2.98843 111.081 2.49498 111.081C2.16707 111.08 1.84222 111.143 1.53909 111.267C1.23597 111.39 0.960559 111.571 0.728694 111.8C0.49683 112.029 0.313088 112.301 0.188033 112.6C0.062979 112.9 -0.000920219 113.22 1.00122e-05 113.544Z' fill='%236B9B85'/%3E%3Cpath d='M9.95921e-06 91.3222C-0.00138484 91.8096 0.143756 92.2864 0.417057 92.6924C0.690358 93.0983 1.07953 93.4151 1.5353 93.6025C1.99107 93.79 2.49295 93.8398 2.97739 93.7455C3.46182 93.6513 3.90704 93.4173 4.25668 93.0731C4.60631 92.729 4.84463 92.2901 4.94147 91.8122C5.03831 91.3342 4.98932 90.8387 4.80069 90.3882C4.61206 89.9378 4.29228 89.5527 3.88183 89.2818C3.47139 89.0108 2.98873 88.8662 2.49498 88.8662C2.16767 88.8653 1.84339 88.9282 1.54073 89.0512C1.23806 89.1742 0.962966 89.3549 0.731194 89.5831C0.499423 89.8112 0.315533 90.0823 0.190063 90.3807C0.0645934 90.6791 8.64585e-06 90.9991 9.95921e-06 91.3222Z' fill='%236B9B85'/%3E%3Cpath d='M2.49497 71.5703C3.8729 71.5703 4.98993 70.4677 4.98993 69.1074C4.98993 67.7472 3.8729 66.6445 2.49497 66.6445C1.11703 66.6445 0 67.7472 0 69.1074C0 70.4677 1.11703 71.5703 2.49497 71.5703Z' fill='%236B9B85'/%3E%3Cpath d='M0 46.8926C0 47.3797 0.146327 47.8559 0.420478 48.2609C0.694628 48.6659 1.08429 48.9816 1.54018 49.168C1.99608 49.3544 2.49773 49.4032 2.98171 49.3082C3.46569 49.2131 3.91025 48.9786 4.25917 48.6341C4.6081 48.2897 4.84572 47.8508 4.94199 47.3731C5.03826 46.8953 4.98885 46.4001 4.80001 45.9501C4.61118 45.5 4.29139 45.1154 3.88109 44.8448C3.4708 44.5741 2.98842 44.4297 2.49497 44.4297C1.83326 44.4297 1.19866 44.6892 0.730759 45.1511C0.262862 45.6129 0 46.2394 0 46.8926H0Z' fill='%236B9B85'/%3E%3Cpath d='M1.00122e-05 24.6778C1.00122e-05 25.1649 0.146337 25.6411 0.420488 26.0461C0.694638 26.4511 1.0843 26.7668 1.54019 26.9532C1.99609 27.1396 2.49774 27.1884 2.98172 27.0933C3.4657 26.9983 3.91026 26.7637 4.25918 26.4193C4.60811 26.0749 4.84573 25.636 4.942 25.1582C5.03827 24.6805 4.98886 24.1853 4.80002 23.7352C4.61119 23.2852 4.2914 22.9006 3.8811 22.6299C3.47081 22.3593 2.98843 22.2149 2.49498 22.2149C2.16707 22.2139 1.84222 22.277 1.53909 22.4005C1.23597 22.5239 0.960559 22.7053 0.728694 22.9342C0.49683 23.1631 0.313088 23.4349 0.188033 23.7342C0.062979 24.0334 -0.000920219 24.3541 1.00122e-05 24.6778Z' fill='%236B9B85'/%3E%3Cpath d='M1.00122e-05 2.46291C1.00122e-05 2.95003 0.146337 3.42621 0.420488 3.83123C0.694638 4.23625 1.0843 4.55193 1.54019 4.73834C1.99609 4.92475 2.49774 4.97353 2.98172 4.87849C3.4657 4.78346 3.91026 4.54889 4.25918 4.20445C4.60811 3.86001 4.84573 3.42116 4.942 2.9434C5.03827 2.46565 4.98886 1.97044 4.80002 1.5204C4.61119 1.07036 4.2914 0.685711 3.8811 0.415084C3.47081 0.144457 2.98843 9.88353e-06 2.49498 9.88353e-06C2.16707 -0.000908394 1.84222 0.0621697 1.53909 0.185617C1.23597 0.309064 0.960559 0.490445 0.728694 0.71933C0.49683 0.948215 0.313088 1.22009 0.188033 1.51932C0.062979 1.81854 -0.000920219 2.13922 1.00122e-05 2.46291Z' fill='%236B9B85'/%3E%3Cpath d='M15.0117 113.544C15.0117 114.031 15.1582 114.508 15.4327 114.913C15.7072 115.318 16.0972 115.634 16.5535 115.82C17.0099 116.006 17.5119 116.055 17.996 115.959C18.4802 115.863 18.9248 115.628 19.2734 115.283C19.622 114.938 19.8591 114.498 19.9546 114.02C20.05 113.542 19.9996 113.047 19.8097 112.597C19.6198 112.147 19.2989 111.763 18.8877 111.493C18.4765 111.223 17.9934 111.08 17.4996 111.081C17.1723 111.081 16.8482 111.145 16.5459 111.269C16.2436 111.393 15.969 111.574 15.7379 111.803C15.5068 112.032 15.3237 112.303 15.1991 112.602C15.0745 112.901 15.0108 113.221 15.0117 113.544Z' fill='%236B9B85'/%3E%3Cpath d='M15.0117 91.3222C15.0103 91.8099 15.1557 92.287 15.4293 92.6931C15.7029 93.0992 16.0925 93.4159 16.5487 93.6032C17.0048 93.7905 17.5071 93.8398 17.9917 93.745C18.4763 93.6502 18.9215 93.4155 19.2709 93.0707C19.6202 92.7258 19.858 92.2863 19.9541 91.8079C20.0501 91.3295 20.0001 90.8337 19.8104 90.3834C19.6207 89.9331 19.2998 89.5485 18.8884 89.2784C18.477 89.0083 17.9937 88.8648 17.4996 88.8662C17.1729 88.8662 16.8494 88.9297 16.5476 89.0532C16.2457 89.1766 15.9714 89.3575 15.7404 89.5856C15.5094 89.8136 15.3261 90.0844 15.2011 90.3823C15.0761 90.6803 15.0117 90.9996 15.0117 91.3222Z' fill='%236B9B85'/%3E%3Cpath d='M17.4998 71.5703C18.8778 71.5703 19.9948 70.4677 19.9948 69.1074C19.9948 67.7472 18.8778 66.6445 17.4998 66.6445C16.1219 66.6445 15.0049 67.7472 15.0049 69.1074C15.0049 70.4677 16.1219 71.5703 17.4998 71.5703Z' fill='%236B9B85'/%3E%3Cpath d='M15.0117 46.8926C15.0117 47.38 15.1582 47.8565 15.4327 48.2616C15.7072 48.6668 16.0972 48.9825 16.5535 49.1687C17.0098 49.3549 17.5119 49.4033 17.996 49.3077C18.4802 49.2121 18.9247 48.9768 19.2734 48.6317C19.622 48.2865 19.8591 47.847 19.9546 47.3688C20.05 46.8906 19.9996 46.3952 19.8097 45.9453C19.6198 45.4953 19.2989 45.1112 18.8877 44.8414C18.4765 44.5716 17.9934 44.4283 17.4996 44.4297C16.8392 44.4315 16.2064 44.6918 15.74 45.1535C15.2736 45.6152 15.0117 46.2406 15.0117 46.8926Z' fill='%236B9B85'/%3E%3Cpath d='M15.0117 24.6778C15.0117 25.1652 15.1582 25.6416 15.4327 26.0468C15.7072 26.452 16.0972 26.7676 16.5535 26.9538C17.0099 27.14 17.5119 27.1884 17.996 27.0928C18.4802 26.9972 18.9248 26.762 19.2734 26.4168C19.622 26.0717 19.8591 25.6322 19.9546 25.154C20.05 24.6758 19.9996 24.1803 19.8097 23.7304C19.6198 23.2805 19.2989 22.8963 18.8877 22.6265C18.4765 22.3568 17.9934 22.2135 17.4996 22.2149C17.1723 22.2149 16.8482 22.2786 16.5459 22.4025C16.2436 22.5263 15.969 22.7078 15.7379 22.9366C15.5068 23.1654 15.3237 23.437 15.1991 23.7358C15.0745 24.0345 15.0108 24.3547 15.0117 24.6778Z' fill='%236B9B85'/%3E%3Cpath d='M15.0117 2.46291C15.0117 2.95033 15.1582 3.42678 15.4327 3.83195C15.7072 4.23712 16.0972 4.55279 16.5535 4.739C17.0099 4.9252 17.5119 4.97357 17.996 4.87797C18.4802 4.78238 18.9248 4.54712 19.2734 4.20198C19.622 3.85684 19.8591 3.41734 19.9546 2.93912C20.05 2.46091 19.9996 1.96548 19.8097 1.51557C19.6198 1.06566 19.2989 0.681487 18.8877 0.411698C18.4765 0.141909 17.9934 -0.00136704 17.4996 9.83123e-06C17.1723 8.53475e-06 16.8482 0.0637633 16.5459 0.187621C16.2436 0.311479 15.969 0.493005 15.7379 0.721798C15.5068 0.950591 15.3237 1.22215 15.1991 1.52093C15.0745 1.8197 15.0108 2.13981 15.0117 2.46291Z' fill='%236B9B85'/%3E%3Cpath d='M30.0176 113.544C30.0176 114.031 30.1639 114.507 30.4381 114.912C30.7122 115.317 31.1019 115.633 31.5578 115.819C32.0137 116.006 32.5153 116.055 32.9993 115.96C33.4833 115.865 33.9278 115.63 34.2768 115.285C34.6257 114.941 34.8633 114.502 34.9596 114.024C35.0558 113.547 35.0064 113.051 34.8176 112.601C34.6288 112.151 34.309 111.767 33.8987 111.496C33.4884 111.225 33.006 111.081 32.5125 111.081C31.8508 111.081 31.2162 111.341 30.7483 111.802C30.2804 112.264 30.0176 112.891 30.0176 113.544Z' fill='%236B9B85'/%3E%3Cpath d='M30.0176 91.3222C30.0162 91.8096 30.1613 92.2864 30.4346 92.6924C30.7079 93.0983 31.0971 93.4151 31.5529 93.6025C32.0086 93.79 32.5105 93.8398 32.995 93.7455C33.4794 93.6513 33.9246 93.4173 34.2743 93.0731C34.6239 92.729 34.8622 92.2901 34.9591 91.8122C35.0559 91.3342 35.0069 90.8387 34.8183 90.3882C34.6296 89.9378 34.3099 89.5527 33.8994 89.2818C33.489 89.0108 33.0063 88.8662 32.5126 88.8662C31.8521 88.8662 31.2185 89.1247 30.7508 89.5851C30.2831 90.0455 30.0195 90.6702 30.0176 91.3222Z' fill='%236B9B85'/%3E%3Cpath d='M32.5125 71.5703C33.8905 71.5703 35.0075 70.4677 35.0075 69.1074C35.0075 67.7472 33.8905 66.6445 32.5125 66.6445C31.1346 66.6445 30.0176 67.7472 30.0176 69.1074C30.0176 70.4677 31.1346 71.5703 32.5125 71.5703Z' fill='%236B9B85'/%3E%3Cpath d='M30.0176 46.8926C30.0176 47.3797 30.1639 47.8559 30.4381 48.2609C30.7122 48.6659 31.1019 48.9816 31.5578 49.168C32.0137 49.3544 32.5153 49.4032 32.9993 49.3082C33.4833 49.2131 33.9278 48.9786 34.2768 48.6341C34.6257 48.2897 34.8633 47.8508 34.9596 47.3731C35.0558 46.8953 35.0064 46.4001 34.8176 45.9501C34.6288 45.5 34.309 45.1154 33.8987 44.8448C33.4884 44.5741 33.006 44.4297 32.5125 44.4297C31.8514 44.4315 31.2179 44.6916 30.7504 45.1531C30.2829 45.6146 30.0194 46.24 30.0176 46.8926Z' fill='%236B9B85'/%3E%3Cpath d='M30.0176 24.6777C30.0176 25.1649 30.1639 25.641 30.4381 26.0461C30.7122 26.4511 31.1019 26.7668 31.5578 26.9532C32.0137 27.1396 32.5153 27.1884 32.9993 27.0933C33.4833 26.9983 33.9278 26.7637 34.2768 26.4193C34.6257 26.0748 34.8633 25.636 34.9596 25.1582C35.0558 24.6805 35.0064 24.1853 34.8176 23.7352C34.6288 23.2852 34.309 22.9005 33.8987 22.6299C33.4884 22.3593 33.006 22.2148 32.5125 22.2148C31.8508 22.2148 31.2162 22.4743 30.7483 22.9362C30.2804 23.3981 30.0176 24.0245 30.0176 24.6777Z' fill='%236B9B85'/%3E%3Cpath d='M30.0176 2.4629C30.0176 2.95002 30.1639 3.4262 30.4381 3.83122C30.7122 4.23624 31.1019 4.55192 31.5578 4.73833C32.0137 4.92474 32.5153 4.97352 32.9993 4.87848C33.4833 4.78345 33.9278 4.54888 34.2768 4.20444C34.6257 3.86 34.8633 3.42115 34.9596 2.94339C35.0558 2.46564 35.0064 1.97043 34.8176 1.52039C34.6288 1.07035 34.309 0.685702 33.8987 0.415074C33.4884 0.144447 33.006 0 32.5125 0C31.8508 0 31.2162 0.259484 30.7483 0.721368C30.2804 1.18325 30.0176 1.8097 30.0176 2.4629Z' fill='%236B9B85'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_398'%3E%3Crect width='35' height='116' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 3.5rem;
    height: 11.6rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;

    @include tablet {
        width: 2.8rem;
        height: 8.8rem;
    }

    @include mobile {
        width: 2.1rem;
        height: 7rem;
    }
}

.object-triAngles {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='72' viewBox='0 0 73 72' fill='none'%3E%3Cg clip-path='url(%23clip0_322_132)'%3E%3Cpath d='M72.9939 0L51.8008 4.15319L68.79 20.9096L72.9939 0Z' fill='%236B9B85'/%3E%3Cpath d='M59.9657 12.8564L38.7656 17.0028L55.7548 33.7592L59.9657 12.8564Z' fill='%236B9B85'/%3E%3Cpath d='M46.9294 25.7061L25.7363 29.8592L42.7255 46.6157L46.9294 25.7061Z' fill='%236B9B85'/%3E%3Cpath d='M33.9012 38.5625L12.7012 42.7088L29.6903 59.4653L33.9012 38.5625Z' fill='%236B9B85'/%3E%3Cpath d='M21.2 51.0903L0 55.2435L16.9892 71.9931L21.2 51.0903Z' fill='%236B9B85'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_132'%3E%3Crect width='73' height='72' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 7.3rem;
    height: 7.2rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;

    @include tablet {
        width: 5rem;
        height: 5rem;
    }

    @include mobile {
        width: 4.6rem;
        height: 4.6rem;
    }
}

.object-triAnglesLines {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="70" height="113" viewBox="0 0 70 113" fill="none"><g clip-path="url(%23clip0_518_4144)"><mask id="mask0_518_4144" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="9" y="9" width="99" height="76"><path d="M9.97533 84.3729L32.672 9.99266L107.06 32.6718L9.97533 84.3729Z" fill="white"/></mask><g mask="url(%23mask0_518_4144)"><path d="M48.9173 -67.3844L107.498 42.6206L109.6 41.5012L51.0193 -68.5038L48.9173 -67.3844Z" fill="%23E99B8B"/><path d="M45.3216 -55.6286L103.902 54.3765L106.004 53.2571L47.4236 -56.7479L45.3216 -55.6286Z" fill="%23E99B8B"/><path d="M41.7415 -43.8732L100.322 66.1318L102.424 65.0125L43.8435 -44.9926L41.7415 -43.8732Z" fill="%23E99B8B"/><path d="M38.1458 -32.1173L96.7266 77.8877L98.8286 76.7683L40.2478 -33.2367L38.1458 -32.1173Z" fill="%23E99B8B"/><path d="M34.5755 -20.3713L93.1562 89.6338L95.2583 88.5144L36.6775 -21.4906L34.5755 -20.3713Z" fill="%23E99B8B"/><path d="M30.9779 -8.6154L89.5586 101.39L91.6606 100.27L33.0799 -9.73478L30.9779 -8.6154Z" fill="%23E99B8B"/><path d="M27.3997 3.13997L85.9805 113.145L88.0825 112.026L29.5017 2.02059L27.3997 3.13997Z" fill="%23E99B8B"/><path d="M23.8216 14.9041L82.4023 124.909L84.5044 123.79L25.9236 13.7848L23.8216 14.9041Z" fill="%23E99B8B"/><path d="M20.2337 26.6424L78.8145 136.647L80.9165 135.528L22.3357 25.523L20.2337 26.6424Z" fill="%23E99B8B"/><path d="M16.6458 38.3807L75.2266 148.386L77.3286 147.266L18.7478 37.2613L16.6458 38.3807Z" fill="%23E99B8B"/><path d="M13.0579 50.1537L71.6387 160.159L73.7407 159.039L15.16 49.0343L13.0579 50.1537Z" fill="%23E99B8B"/><path d="M9.48763 61.9002L68.0684 171.905L70.1704 170.786L11.5896 60.7809L9.48763 61.9002Z" fill="%23E99B8B"/><path d="M5.88997 73.6561L64.4707 183.661L66.5727 182.542L7.99198 72.5367L5.88997 73.6561Z" fill="%23E99B8B"/></g></g><defs><clipPath id="clip0_518_4144"><rect width="88.0179" height="76.9818" fill="white" transform="translate(0 79.6973) rotate(-64.8865)"/></clipPath></defs></svg>');
    width: 7rem;
    height: 11.3rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
}

.object-cancel {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cg clip-path='url(%23clip0_322_157)'%3E%3Cpath d='M1.14533 17C0.919387 16.9993 0.698707 16.9318 0.511072 16.8059C0.323436 16.68 0.177231 16.5015 0.0908643 16.2927C0.00449715 16.0839 -0.0181718 15.8542 0.0257114 15.6326C0.0695946 15.411 0.178068 15.2073 0.337476 15.0471L15.0474 0.337214C15.1532 0.230592 15.279 0.145966 15.4177 0.0882154C15.5563 0.0304649 15.705 0.000732422 15.8552 0.000732422C16.0054 0.000732422 16.1542 0.0304649 16.2928 0.0882154C16.4315 0.145966 16.5573 0.230592 16.6631 0.337214C16.7699 0.443603 16.8547 0.570044 16.9125 0.70928C16.9704 0.848516 17.0002 0.997804 17.0002 1.14858C17.0002 1.29935 16.9704 1.44864 16.9125 1.58788C16.8547 1.72711 16.7699 1.85355 16.6631 1.95994L1.9602 16.6628C1.85318 16.7698 1.72612 16.8546 1.58631 16.9125C1.44649 16.9703 1.29664 17.0001 1.14533 17Z' fill='%2345B29D'/%3E%3Cpath d='M15.8558 16.9999C15.7055 17.0002 15.5566 16.9705 15.4179 16.9126C15.2792 16.8547 15.1534 16.7697 15.0479 16.6627L0.338031 1.95978C0.122844 1.74459 0.00195313 1.45274 0.00195312 1.14842C0.00195313 0.844098 0.122844 0.552241 0.338031 0.337054C0.553218 0.121867 0.845074 0.000976563 1.14939 0.000976562C1.45371 0.000976563 1.74557 0.121867 1.96076 0.337054L16.6637 15.047C16.7703 15.1528 16.8549 15.2786 16.9126 15.4173C16.9704 15.5559 17.0001 15.7046 17.0001 15.8548C17.0001 16.005 16.9704 16.1537 16.9126 16.2924C16.8549 16.431 16.7703 16.5569 16.6637 16.6627C16.5584 16.7701 16.4327 16.8552 16.2939 16.9131C16.1551 16.9711 16.0062 17.0006 15.8558 16.9999Z' fill='%2345B29D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_157'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 1.7rem;
    height: 1.7rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;

    @include tablet-small {
        width: 1.3rem;
        height: 1.3rem;
    }

    @include mobile {
        width: 1rem;
        height: 1rem;
    }
}

.object-fill-circle {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23' fill='none'%3E%3Cg clip-path='url(%23clip0_322_162)'%3E%3Cpath d='M12 23C18.6274 23 24 17.8513 24 11.5C24 5.14873 18.6274 0 12 0C5.37258 0 0 5.14873 0 11.5C0 17.8513 5.37258 23 12 23Z' fill='%23B7D2EE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_162'%3E%3Crect width='24' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 2.4rem;
    height: 2.4rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;

    @include tablet-small {
        width: 1.8rem;
        height: 1.8rem;
    }

    @include mobile {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.object-fill-bluelight-circle {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='38' viewBox='0 0 39 38' fill='none'%3E%3Cg clip-path='url(%23clip0_322_47)'%3E%3Cpath d='M19.5 38C30.2696 38 39 29.4934 39 19C39 8.50659 30.2696 0 19.5 0C8.73045 0 0 8.50659 0 19C0 29.4934 8.73045 38 19.5 38Z' fill='%23B7D2EE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_322_47'%3E%3Crect width='39' height='38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 3.9rem;
    height: 3.9rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;

    @include tablet {
        width: 3rem;
        height: 3rem;
    }

    @include tablet-small {
        width: 2rem;
        height: 2rem;
    }

    @include mobile {
        width: 1.9rem;
        height: 1.9rem;
    }
}

.object-solid-border-circles {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54" fill="none"><path d="M34.3407 13.6345C35.9085 13.6345 37.4723 13.8109 39 14.1598C35.8123 3.62625 24.6933 -2.32818 14.1598 0.859545C3.62625 4.04727 -2.32818 15.1662 0.859543 25.6997C2.78822 32.0792 7.78032 37.0713 14.1598 39C11.5896 27.853 18.5464 16.734 29.6934 14.1638C31.2171 13.8109 32.7769 13.6345 34.3407 13.6345Z" fill="%23E99B8B"/><path d="M38.617 15.6766C28.6894 12.938 18.4141 18.7591 15.6742 28.6861C14.7753 31.9327 14.7753 35.3628 15.6742 38.6093C16.9601 38.8711 18.2694 39 19.5827 39C30.3075 39 39.0039 30.3035 39 19.5834C39 18.2707 38.8671 16.9581 38.6013 15.6727H38.617V15.6766Z" fill="%23E99B8B"/><path d="M38.2987 14C38.4674 14.5609 38.6125 15.1297 38.7302 15.7103C48.689 18.4679 54.5254 28.7768 51.768 38.7365C49.0106 48.6963 38.7027 54.5332 28.744 51.7756C22.4094 50.0221 17.4595 45.0717 15.7062 38.7365C15.1257 38.6149 14.557 38.4698 14 38.3011C16.522 49.2023 27.4025 55.9964 38.3027 53.4741C49.2028 50.9518 55.9962 40.0703 53.4742 29.1691C51.7327 21.6336 45.8492 15.7456 38.3184 14H38.2987Z" fill="%23B48A33"/></svg>');
    width: 5.4rem;
    height: 5.4rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 5;
}

/*-- Common-width --*/
.width-800 {
    max-width: 100%;
    width: 80rem;
    margin: 0 auto;
}

.pages-home {
    main {
        margin-bottom: 0;
    }
}

/*-- Common-width --*/

/*-- Common-banner-color --*/
.bg-category-banner,
.bg-cream-banner {
    background-color: $color-secondaryLight;
}

#consent-manager-update-banner {
    background-color: $color-primary !important;
}

#consent-manager {
    div[class*="css-"] {
        background-color: $color-primary !important;

        p {
            color: inherit;
        }

        button {
            @extend .button;

            &:hover {
                background-color: $color-secondary;
            }
        }
    }
}

/*-- breadcrumbs-style --*/

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none
    }
}

@keyframes gradientSlideUp {
    0% {
        opacity: 0;
        background: linear-gradient(180deg, rgba(39, 44, 73, 0) 0%, #272C49 100%);
    }

    100% {
        opacity: 1;
        background: linear-gradient(180deg, rgba(39, 44, 73, 0.21) 0%, #272C49 100%);
    }
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

.modal-backdrop{
    z-index: 999;
}
#modal,
.modal--alert,
.modal,
.modal--small {
    @include border-radius(1.2rem);

    .modal-header {
        padding: 2rem 3rem;
        border-color: $color-greyLight;

        .modal-header-title {
            @extend .fs-24;

            @include tablet-small {
                font-size: 1.8rem;
                padding: 0 2rem;
            }
        }
    }

    .modal-close {
        width: 2rem;
        height: 2rem;
        line-height: 0;

        &::before,
        &::after {
            display: none;
        }

        &:hover {
            color: $color-secondary;
        }

        span[aria-hidden="true"] {
            position: relative;
            font-size: 0;
            width: 1.5rem;
            height: 1.5rem;
            display: block;
            top: 1.8rem;
            right: 1.5rem;

            &:hover {
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.7782 1.63634L1.63602 15.7785L0.221802 14.3643L14.3639 0.222122L15.7782 1.63634Z' fill='%23b48b31'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.221849 1.63634L14.364 15.7785L15.7782 14.3643L1.63606 0.222122L0.221849 1.63634Z' fill='%23b48b31'/%3E%3C/svg%3E");
                }
            }

            &::after {
                content: "";
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                left: 0;
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.7782 1.63634L1.63602 15.7785L0.221802 14.3643L14.3639 0.222122L15.7782 1.63634Z' fill='%23272C49'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.221849 1.63634L14.364 15.7785L15.7782 14.3643L1.63606 0.222122L0.221849 1.63634Z' fill='%23272C49'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;
            }
        }
    }

    h2 {
        @extend .fs-24;
    }
}
#consent-manager div[class*="css-"] button{
    margin: 5px;
}
#consent-manager{
    div[class*='css']{
        @include mobile{
            @include flex-direction(column);
            width: 100%;
        }
    }
}