<section class="heroCarousel videoCarousel">
    <div class="videoCarousel-inner">
        <div class="heroCarousel-image-wrapper">
            {{!--<video muted autoplay loop playsinline src="https://www.w3schools.com/html/mov_bbb.mp4" width="1440px" height="700" ></video>--}}
            <iframe src="https://player.vimeo.com/video/896081118?badge=0&autopause=0&player_id=0&app_id=58479&autoplay=1&loop=1&muted=1" width="3840" height="2160" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Backdrop.com" autoplay muted loop playsinline></iframe>
            
        </div>
        <div class="heroCarousel-content">
            <h1 class="heroCarousel-title">for <span>moments</span> that matter<sup>TM</sup></h1>
            <a href="/shop-by-event/" aria-label="Start Designing" class="heroCarousel-action button button--secondary button--large">Start Designing</a>
        </div>
    </div>
</section>
